.App {
  text-align: center;
}
.layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
.display {
  width: 640px;
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #000;
  margin: auto;
}
.video {
  position: absolute;
  height: 100%;
  width: 100%;
}
.caption {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(0,0,0, 0.5);
}
input {width: 100%}
label {margin-top: 32px;}
.spinner {
  margin: auto;
}